@model IEnumerable<BlogProject.Models.BlogPost>

@using BlogProject.Enums
@using BlogProject.Services.Interfaces

@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService




<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail" style="height:100px; width:100px">
                            <a href="#">
                                <img src="~/img/Profile_Pic.jpg" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">Evan LaVack</a></h1>
                                <span class="b3 subtitle">Software Developer</span>
                            </div>
                            <div class="content">
                                <p class="b1 description">At 40+ years old, my favorite compliment is being told that I look like my mom. Seeing myself in her image, like this daughter up top, makes me so proud of how far I’ve come, and so thankful for where I come from</p>
                                <ul class="social-share-transparent size-md">
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Articles By This Author</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @foreach (var blogPost in Model)
                {

                    <!-- Start Post List  -->
                    <div class="content-block post-list-view mt--30">
                        <div class="post-thumbnail">
                            <a asp-action="@blogPost.Slug" asp-controller="Content">
                                
                                    <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!, (int)DefaultImage.BlogPost)" alt="Post Images">
                               
                            </a>
                            @* <a class="video-popup icon-color-secondary size-medium position-top-center" href="post-details.html"><span class="play-icon"></span></a>*@
                        </div>
                        <div class="post-content">
                            <div class="post-cat">
                                <div class="post-cat-list">
                                    <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                                        <span class="hover-flip-item">
                                            <span data-text="@blogPost.Category!.Name">@blogPost.Category.Name</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <h4 class="title">
                                <a asp-controller="Content" asp-action="@blogPost.Slug">
                                    @blogPost.Title
                                </a>
                            </h4>
                            <div class="post-meta-wrapper">
                                <div class="post-meta">
                                    <div class="content">
                                        <h6 class="post-author-name">
                                            <a class="hover-flip-item-wrapper" href="author.html">
                                                <span class="hover-flip-item">
                                                    <span data-text="Evan LaVack"></span>
                                                </span>
                                            </a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>@blogPost.Created.ToString("MMM dd, yyyy")</li>
                                            <li>@blogPost.Comments.Count Comments</li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="social-share-transparent justify-content-end">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post List  -->
                }

            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <div class="sidebar-inner">

                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <ul>
                            @foreach (Category category in (await _BlogPostService.GetCategoriesAsync(4)))
                            {

                                <li class="cat-item">
                                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id" class="inner">
                                        <div class="thumbnail">  
                                        </div>
                                        <div class="content">
                                            <h5 class="title">@category.Name</h5>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_postlist mb--30">
                        <h5 class="widget-title">Popular Posts</h5>
                        <!-- Start Post List  -->
                        <div class="post-medium-block">
                            @foreach (BlogPost blogPost in (await _BlogPostService.GetPopularBlogPostsAsync(3)))
                            {

                                <!-- Start Single Post  -->
                                <div class="content-block post-medium mb--20">
                                    <div class="post-thumbnail">
                                        <a asp-action="blogPost.Slug" asp-controller="Content">
                                            

                                                <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!,(int)DefaultImage.Category)" alt="Post Images">
                                           
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="title">
                                            <a href="post-details.html">
                                                The underrated design book that transformed the way I
                                                work
                                            </a>
                                        </h6>
                                        <div class="post-meta">
                                            <ul class="post-meta-list">
                                                <li>Feb 17, 2019</li>
                                                <li>300k Views</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post  -->
                            }


                        </div>
                        <!-- End Post List  -->

                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_social mb--30">
                        <h5 class="widget-title">Stay In Touch</h5>
                        <!-- Start Post List  -->
                        <ul class="social-icon md-size justify-content-center">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-slack"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <!-- End Post List  -->
                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_instagram mb--30">
                        <h5 class="widget-title">Recent Posts</h5>
                        <!-- Start Post List  -->
                        <ul class="instagram-post-list-wrapper">
                            @foreach (BlogPost blogPost in await _BlogPostService.GetRecentBlogPostsAsync(6))
                            {
                                <li class="instagram-post-list">
                                    <a href="#">
                                      

                                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!,(int)DefaultImage.BlogPost)" alt="">
                                       

                                    </a>
                                </li>

                            }
                        </ul>
                        <!-- End Post List  -->
                    </div>
                    <!-- End Single Widget  -->
                </div>
                <!-- End Sidebar Area  -->



            </div>
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
<!-- Start Instagram Area  -->
<div class="axil-instagram-area axil-section-gap bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title">Instagram</h2>
                </div>
            </div>
        </div>
        <div class="row mt--30">
            <div class="col-lg-12">
                <ul class="instagram-post-list">
                    <li class="single-post">
                        <a href="#">
                            <img src="assets/images/small-images/instagram-md-01.jpg" alt="Instagram Images">
                            <span class="instagram-button"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                    <li class="single-post">
                        <a href="#">
                            <img src="assets/images/small-images/instagram-md-02.jpg" alt="Instagram Images">
                            <span class="instagram-button"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                    <li class="single-post">
                        <a href="#">
                            <img src="assets/images/small-images/instagram-md-03.jpg" alt="Instagram Images">
                            <span class="instagram-button"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                    <li class="single-post">
                        <a href="#">
                            <img src="assets/images/small-images/instagram-md-04.jpg" alt="Instagram Images">
                            <span class="instagram-button"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                    <li class="single-post">
                        <a href="#">
                            <img src="assets/images/small-images/instagram-md-05.jpg" alt="Instagram Images">
                            <span class="instagram-button"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                    <li class="single-post">
                        <a href="#">
                            <img src="assets/images/small-images/instagram-md-06.jpg" alt="Instagram Images">
                            <span class="instagram-button"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Area  -->
