@model BlogProject.Models.BlogPost

@using BlogProject.Enums
@using Microsoft.AspNetCore.Identity
@using BlogProject.Services.Interfaces

@inject IImageService _ImageService
@inject SignInManager<BlogUser> _signInManager

@{
    ViewData["Title"] = "Details";
}
<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!-- Start Banner Area -->
                <div class="banner banner-single-post post-formate post-layout pb--40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Start Single Slide  -->
                                <div class="content-block">
                                    <!-- Start Post Content  -->
                                    <div class="post-content">
                                        <div class="post-cat">
                                            <div class="post-cat-list">
                                                <a class="hover-flip-item-wrapper" href="#">
                                                    <span class="hover-flip-item">
                                                        <span data-text="FEATURED POST">FEATURED POST</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <h1 class="title">@Model.Title</h1>
                                        <!-- Post Meta  -->
                                        <div class="post-meta-wrapper">
                                            <div class="post-meta">
                                                <div class="post-author-avatar border-rounded" style="height:100px; width:100px">
                                                    
                                                        <img src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!, (int)DefaultImage.BlogPost)" alt="Post Images">
                                                    
                                                </div>
                                                <div class="content">
                                                    <h6 class="post-author-name">
                                                        <a class="hover-flip-item-wrapper" href="author.html">
                                                            <span? class="hover-flip-item">
                                                                <span? data-text="Evan LaVack">
                                                                    Evan LaVack<span>
                                                                    </span>
                                                        </a>
                                                    </h6>
                                                    <ul class="post-meta-list">
                                                        <li>@Model.Created.ToString("MMM dd, yyyy")</li>
                                                        <li>@Model.Comments.Count Comments</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="social-share-transparent justify-content-end">
                                                <li><a href="#"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Post Content  -->
                                </div>
                                <!-- End Single Slide  -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner Area -->
                <!-- Start Blog Details  -->
                <div class="axil-post-details">
                    <p class="has-medium-font-size"
                       @Model.Abstract>
                    </p>
                    <figure class="wpock-image alignwide text-center">
                        
                            <img src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!,(int)DefaultImage.BlogPost)" alt="Post Images">
                       
                    </figure>
                    <p>
                        @Model.Content
                    </p>
                    <div class="tagcloud">
                        @foreach (Tag tag in Model.Tags)
                        {
                            <a href="#">@tag.Name</a>
                        }
                    </div>

                    <div class="social-share-block">
                        <div class="post-like">
                            <a href="#"><i class="fal fa-thumbs-up"></i><span>2.2k Like</span></a>
                        </div>
                        <ul class="social-icon icon-rounded-transparent md-size">
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>

                    <!-- Start Author  -->
                    <div class="about-author">
                        <div class="media">
                            <div class="post-author-avatar border-rounded" style="height:100px; width:100px">
                                
                                    <img src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!,(int)DefaultImage.BlogUser)" alt="Post Images">
                               
                            </div>
                            <div class="media-body">
                                <div class="author-info">
                                    <h5 class="title">
                                        <a class="hover-flip-item-wrapper" href="#">
                                            <span class="hover-flip-item">
                                                <span data-text="Rahabi Ahmed Khan">Rahabi Ahmed Khan</span>
                                            </span>
                                        </a>
                                    </h5>
                                    <span class="b3 subtitle">Sr. UX Designer</span>
                                </div>
                                <div class="content">
                                    <p class="b1 description">
                                        At 29 years old, my favorite compliment is being
                                        told that I look like my mom. Seeing myself in her image, like this
                                        daughter up top, makes me so proud of how far I’ve come, and so thankful
                                        for where I come from.
                                    </p>
                                    <ul class="social-share-transparent size-md">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="far fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Author  -->
                    <!-- Start Comment Form Area  -->
                    <div class="axil-comment-area">
                        <div class="axil-total-comment-post">
                            <div class="title">
                                <h4 class="mb--0">@Model.Comments.Count Comments</h4>
                            </div>
                        </div>
                        <!-- Start Comment Respond  -->
                        <div class="comment-respond">
                            <h4 class="title">Post a comment</h4>
                            <form asp-action="Create" asp-controller="Comments" method="post">
                                <input type="hidden" asp-for="Id" name="BlogPostId" />
                                <input type="hidden" asp-for="Slug" />
                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span>
                                </p>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="message"></label>
                                        <textarea placeholder="Leave a comment" name="Body"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-submit cerchio">
                                        <input name="submit"
                                               type="submit"
                                               id="submit"
                                               class="axil-button button-rounded"
                                               value="Post Comment" />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Start Comment Area  -->
                        <div class="axil-comment-area">
                            <h4 class="title">@Model.Comments.Count comments</h4>
                            <ul? class="comment-list">

                                @if (Model.Comments.Count == 0)
                                {
                                    <p>There are no comments for this blog yet. </p>
                                }
                                else
                                {

                                    @foreach (Comment comment in Model.Comments)
                                    {
                                        <!-- Start Single Comment  -->
                                        <li? class="comment">
                                            <div class="comment-body">
                                                <div class="single-comment">
                                                    <div class="comment-img">
                                                        <img src="assets/images/post-images/author/author-b2.png" alt="Author Images">
                                                    </div>
                                                    <div class="comment-inner">
                                                        <h6 class="commenter">
                                                            <a class="hover-flip-item-wrapper" href="#">
                                                                <span class="hover-flip-item">
                                                                    <span data-text="@comment.Author!.FullName">
                                                                        @comment.Author.FullName
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </h6>
                                                        <div class="comment-meta">
                                                            <div class="time-spent">@comment.Created.ToString("MMM dd, yyyy at hh:mm tt")</div>
                                                            <div class="reply-edit">
                                                                <div class="reply">
                                                                    <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item">
                                                                            <span data-text="Reply">Reply</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment-text">
                                                            <p class="b2">
                                                                @comment.Body
                                                            </p>
                                                        </div>
                                                        @if (_signInManager.IsSignedIn(User) && comment.AuthorId == _signInManager.UserManager.GetUserId(User))
                                                        {
                                                            <div class="fa-comment-edit">
                                                                <a asp-controller="Comments" asp-action="Delete"><i class="btn btn-primary">Delete</i></a>
                                                                <a asp-controller="Comments" asp-action="Edit"><i class="btn btn primary">Edit</i></a>
                                                            </div>
                                                        }
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </li?>

                                    }
                                }
                        </div>
                    </div>









                    <ul class="children">
                        <!-- Start Single Comment  -->
                        <li class="comment">
                            <div class="comment-body">
                                <div class="single-comment">
                                    <div class="comment-img">
                                        <img src="assets/images/post-images/author/author-b3.png" alt="Author Images">
                                    </div>
                                    <div class="comment-inner">
                                        <h6 class="commenter">
                                            <a class="hover-flip-item-wrapper" href="#">
                                                <span class="hover-flip-item">
                                                    <span data-text="Rahabi Khan">
                                                        Rahabi
                                                        Khan
                                                    </span>
                                                </span>
                                            </a>
                                        </h6>
                                        <div class="comment-meta">
                                            <div class="time-spent">
                                                Nov 23, 2018 at 12:23 pm
                                            </div>
                                            <div class="reply-edit">
                                                <div class="reply">
                                                    <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Reply">Reply</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            <p class="b2">
                                                Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fames ac turpis
                                                egestas. Suspendisse lobortis cursus lacinia.
                                                Vestibulum vitae leo id diam pellentesque
                                                ornare.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Single Comment  -->
                    </ul>
                    </li>
                    <!-- End Single Comment  -->
                    </ul>

                </div>
                <!-- End Comment Area  -->

            </div>
            <!-- End Comment Form Area  -->


        </div>
        <!-- End Blog Details  -->
    </div>
</div>
</div>
</div>
<!-- End Post Single Wrapper  -->
@*<h1>Details</h1>*@

@*<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    <label>Tags</label>
    @foreach (Tag tag in Model.Tags)
    {
        <p @tag.Name></p>
    }

    @if (_signInManager.IsSignedIn(User))
    {
    <form asp-action="Create" asp-controller="Comments" method="post">
        <input type="hidden" asp-for="Id" name="BlogPostId"/>
        <input type="hidden" asp-for="Slug" />
        <div class="form-group">
            <label class="control-label">Add a Comment</label>
            <textarea name="Body" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>

    }
    else
    {
        <p>
        <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "BlogPost", new {Model.Slug})" class="btn btn-info">Login to Make A Comment</a>
        </p>
    }

    /Display Comments
<label>@Model.Comments.Count Comments</label>
@foreach (Comment comment in Model.Comments)
{
    <p>@comment.Created.ToString("MM-dd-yy hh:mm:ss tt")</p>
    <p>@comment.Body</p>
}
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
